body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f4e3;
    color: #333;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

header h2 {
    font-size: 1.5rem;
    color: #6b4423;
}

.foto-greta {
    display: block;
    margin: 2rem auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.centered-nav {
    justify-content: center;
    display: flex;
    list-style: none;
    gap: 2rem;
    padding: 0;
    margin-bottom: 2rem;
}

.centered-nav a {
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
}

.centered-nav a:hover {
    text-decoration: underline;
}

.productos-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.card {
    background-color: #f3e5d7;
    border-radius: 8px;
    padding: 1rem;
    width: 300px;
}

.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.reseñas-grid {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.reseña {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

footer {
    margin-top: 2rem;
    background-color: #6b4423;
    color: #fff;
    padding: 1rem;
}

footer a {
    color: #ffebc7;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
